.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-body{
    width: 400px;
    border: none;
}

.count-value{
    text-align: center;
    margin-top: 10px;
    font-size: 60px;
}

.counter-button{
    width: 100%;
}